gdt-app/src/main/resources/gdt.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="gdt">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="parameters">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
                            <xs:element type="xs:string" name="lastmodified" minOccurs="1" maxOccurs="1"/>
                            <xs:element type="xs:string" name="comment" minOccurs="0" maxOccurs="1"/>
                            <xs:element type="xs:string" name="asadminpath" minOccurs="1" maxOccurs="1"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="servers">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="server">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="target">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="host" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:short" name="port" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="user" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="password" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="adminpassword" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="userpassword" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="masterpassword" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="domainsrootdir" minOccurs="1" maxOccurs="1"/>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="commands" minOccurs="1" maxOccurs="1">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="command" minOccurs="1" maxOccurs="unbounded">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="domains" minOccurs="0" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="domain" minOccurs="1" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:sequence>
                                                                                        <xs:element name="components" minOccurs="0" maxOccurs="1">
                                                                                            <xs:complexType>
                                                                                                <xs:sequence>
                                                                                                    <xs:element name="component" minOccurs="1" maxOccurs="unbounded">
                                                                                                        <xs:complexType>
                                                                                                            <xs:attribute type="xs:string" name="id" use="required"/>
                                                                                                            <xs:attribute type="xs:string" name="skip" use="required"/>
                                                                                                            <xs:attribute type="xs:string" name="action" use="required"/>
                                                                                                            <xs:attribute type="xs:string" name="force" use="optional"/>
                                                                                                        </xs:complexType>
                                                                                                    </xs:element>
                                                                                                </xs:sequence>
                                                                                            </xs:complexType>
                                                                                        </xs:element>
                                                                                    </xs:sequence>
                                                                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="skip" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="action" use="optional"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="jdbcresources" minOccurs="0" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="jdbcresource" minOccurs="1" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:attribute type="xs:byte" name="id" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="skip" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="action" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                                <xs:element name="pools" minOccurs="0" maxOccurs="1">
                                                                    <xs:complexType>
                                                                        <xs:sequence>
                                                                            <xs:element name="pool" minOccurs="1" maxOccurs="unbounded">
                                                                                <xs:complexType>
                                                                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="skip" use="required"/>
                                                                                    <xs:attribute type="xs:string" name="action" use="required"/>
                                                                                </xs:complexType>
                                                                            </xs:element>
                                                                        </xs:sequence>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                            <xs:attribute type="xs:string" name="id" use="required"/>
                                                            <xs:attribute type="xs:string" name="skip" use="required"/>
                                                            <xs:attribute type="xs:byte" name="index" use="required"/>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                    <xs:attribute type="xs:string" name="id" use="required"/>
                                    <xs:attribute type="xs:string" name="skip" use="required"/>
                                    <xs:attribute type="xs:byte" name="index" use="required"/>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="data" minOccurs="1" maxOccurs="1">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="domains" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="domain" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="adminport" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="instanceport" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="password" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="adminpassword" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="userpassword" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="masterpassword" minOccurs="0" maxOccurs="1"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="id" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="components" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="component" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:string" name="type" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="contextroot"/>
                                                    <xs:element type="xs:string" name="path"/>
                                                    <xs:element name="properties" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                                                                <xs:attribute type="xs:string" name="value" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="id" use="required"/>
                                                <xs:attribute type="xs:string" name="ctype" use="required"/>
                                                <xs:attribute type="xs:string" name="scappid" use="optional"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="jdbcresources" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="jdbcresource" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="name"/>
                                                    <xs:element type="xs:string" name="poolid"/>
                                                </xs:sequence>
                                                <xs:attribute type="xs:string" name="id" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="pools" minOccurs="0" maxOccurs="1">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="pool" minOccurs="1" maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element type="xs:string" name="jndiName" minOccurs="1" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="datasourceclassname" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element type="xs:string" name="restype" minOccurs="0" maxOccurs="1"/>
                                                    <xs:element name="properties" minOccurs="0" maxOccurs="1">
                                                        <xs:complexType>
                                                            <xs:sequence>
                                                                <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                                                                    <xs:complexType>
                                                                        <xs:simpleContent>
                                                                            <xs:extension base="xs:string">
                                                                                <xs:attribute type="xs:string" name="name" use="required"/>
                                                                                <xs:attribute type="xs:string" name="value" use="required"/>
                                                                            </xs:extension>
                                                                        </xs:simpleContent>
                                                                    </xs:complexType>
                                                                </xs:element>
                                                            </xs:sequence>
                                                        </xs:complexType>
                                                    </xs:element>
                                                </xs:sequence>
                                                <xs:attribute type="xs:byte" name="id" use="required"/>
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>